.contanier{
    max-width: 100%;
}
.cardcontainer{
    text-align: left;
    margin-bottom: 50px;
    align-items: center;
    background-color: #beb7b7;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}
.container img{
    height: 250px;
    width: 250px;
    padding: 5px;
}
.cardcontainer h1{
    margin-left: 5px;
}
.container p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(10, 145, 46);
    width: fit-content;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    

}